{% extends "base.html" %}

{% block content %}

<ul>
	<li>
		<a href="/lesson2/rot13">Lesson 2: Rot 13</a>
	</li>
	<li>
		<a href="/lesson2/signup">Lesson 2: Sign Up Page</a>
	</li>
	<li>
		<a href="/lesson2/fizzbuzz">Lesson 2: Templates pt1 - FizzBuzz</a>
	</li>
	<li>
		<a href="/lesson2/shopping_list">Lesson 2: Templates pt2 - Shopping List</a>
	</li>
	<li>
		<a href="/lesson3/blog">Lesson 3: Blog - Main Page</a>
	</li>
	<li>
		<a href="/lesson3/blog/newpost">Lesson 3: Blog - Create Post</a>
	</li>
	<li>
		<a href="/lesson4/signup">Lesson 4: User Authentication - Register</a>
	</li>
	<li>
		<a href="/lesson4/login">Lesson 4: User Authentication - Login</a>
	</li>
<ul>
	
{% endblock %}